.container{
    height: 350px;
    width: 400px;
     margin: auto; 
    box-sizing: border-box;
      border: 0.3px solid  rgb(198, 181, 181);
      margin-top: 60px; 
        background-size: cover;
        position: relative;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
}  
.card-img{
    width: 100%;
    height: 40%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.profile-img{
    
    height: 30%;
    margin-top: -18%;
    width: 30%;
    border-radius: 50%;
    border: 5px solid white;
    
}
h1{
    font-size: 30px;
    margin-top: 30px;
}
p{
    font-size: 25px;
    color:  rgb(99, 74, 74);
    
}