.container{
    height: 500px;
    width: 500px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 30px;
     padding: 12px;
     border: 1px solid   rgb(230, 213, 213);
     box-shadow: 50px;
    border-radius: 15px;
    
}   
.food-card{
    box-sizing: border-box;
    position: relative;
}
.card-img{
    width: 100%;
    height: 170%;
    border-radius: 20px;
    position: relative;
    
}
.promoted {
    background: rgb(115, 118, 121);
    color: lightgray;
    width: 90px;
    margin: 15px;
    padding: 1px 3px;
    top: 10px;
    position: absolute;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: center;
   font-size: medium;
}
.discount{
    width: 40%;
     font-size: 20px; 
    color: white;
    background-color: rgb(69, 124, 211);
    position: absolute;
    bottom: 25px;
    padding: 3px 4px;
    text-align: center;
    font-size: 22px;
    
}
.time{
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 20px;
    background: #ffffff;
    color: black;
    width: 15%;
    padding: 5px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
}
.text{
    margin: 10px;
}
.text h3{
    font-size: 30px;
    margin-top: 10px;
    font-family: sans-serif;
}
.text p{

    font-size: 25px;
    margin-top:-19px;
    color: rgb(99, 74, 74);
}

.img-logo{
    width: 20%;
}
.footer{
    /* margin-left: 80px; */
    position: relative;
    box-sizing: border-box;

}
.footer p{
    position: absolute;
    font-size: 23px;
    left: 100px;
    padding: 8px;
    color: rgb(99, 74, 74);
    top: -20px;
    
}
.img-logo{
    position: absolute;
    top: 0px;
    width: 15%;
    margin: 15px;
    
}